<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>podval</title>
    <link rel="stylesheet" href=".style.css">
</head>
<body>
    <!-- контейнер sss для максимальной ширины всего контента -->
    <div class="sss">

    <!-- КОНТ С ЛОГО -->
    <div class="mirazh">
        <img src="itd/img/mirazh.png" class="pvp">
    </div>

<!-- контейнер без лого, для отступа сверху -->

<div class="contbezlogo">

    <!-- флекс контейнер для распределения блоков слева направо
    и для одинакового расстояния между блоками  -->
<div class="flexcont">

    <!-- контейнер для заголовков -->

    <div class="zagalovki">
        <h1>Киномираж</h1>
        <div class="mega">
            <div class="ds">

<!-- БЛОК О НАС -->

            <div class="textpodzag">
                <h1>О нас</h1>
            </div>
        
            <div class="textpodzag">
                <h1>Акции</h1>
            </div>
        
            <div class="textpodzag">
                <h1>Подарочные карты</h1>
            </div>
        
            <div class="textpodzag">
                <h1>Партнёрам</h1>
            </div>
        
            <div class="textpodzag">
                <h1>Расписание</h1>
            </div>
    </div>
        </div>
    </div>
        
<!-- БЛОК С ИНФОРМАЦИЕЙ -->
    <div class="zagalovki">
        <h1>Информация</h1>
        <div class="mega">
            <div class="ds">
                <div class="textpodzag">
                    <h1>Частые вопросы</h1>
                </div>
            
                <div class="textpodzag">
                    <h1>Политика конфиденциальности</h1>
                </div>
            
                <div class="textpodzag">
                    <h1>Пользовательское соглашение</h1>
                </div>
            </div>
            </div>
    </div>

<!-- БЛОК Помощь -->
    <div class="zagalovki">
        <h1>Помощь</h1>
        <div class="mega">
            <div class="ds">
                <div class="textpodzag">
                    <h1>Служба поддержки</h1>
                </div>
            
                <div class="textpodzag">
                    <h1>Сообщить о ошибке</h1>
                </div>
            
                <div class="textpodzag">
                    <h1>help@mirazh.kino</h1>
                </div>
            
                <div class="textpodzag">
                    <h1>8 (800) 555-35-35</h1>
                </div>
            </div>
        </div>
    </div>

<!-- БЛОК С СОЦ СЕТЯМИ -->
    <div class="zagalovki">
        <h1>Наши соц.сети</h1>
        <div class="mega">
            <div class="vktg">
                    <img src="itd/img/vktg.png" class="alfa">
            </div>
            </div>
    </div>
</div>
</body>
</html>