/* CSS К ПОДВАЛУ: */
body {
    background-color: black;
    font-family: 'Open Sans', sans-serif;
}

.pvp {
    width: 250px;
    }

    .cont {
    display: flex;
    margin-top: 50px;
    flex-direction: row;
    justify-content: space-between;
    }
    
    .zagalovki {
    color: white;
    font-size: 13px;
    }
    
    .textpodzag {
     color: white;
    font-size: 7px;
    opacity: 80%;
    }
    
    .alfa {
    width: 100px;
    }
    
    .mega {
    display: flex;
    flex-direction: row;
    }
    
    .sss {
    max-width: 1280px;
    margin: auto;
    margin-top: 100px;
    
    }
    
    .flexcont {
    display: flex;
    justify-content: space-between;
    
    }
    
    .ras {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    }
    
    .contbezlogo {
    margin-top: 3%;
    }

    .zz {
    display: flex;
    }
    
    .vktg {
    width: 50px;
    }