.session-film-filter {
    display: flex;
    flex-direction: column;
    background-color: #72140A;
    padding: 7px;
    border-radius: 12px;
    position: sticky;
    top: 10vh;
    z-index: 99;
}

.session-film-filter h3, h5{
    margin-block: 0.5em;
    color: white;
}

.select-element {
    width: 50%;
    color: white;
    display: flex;
    flex-direction: row;
    align-items: baseline;
}

.film-filter-text {
    color: white;
}

.price-filt {
    display: flex;
    flex-direction: row;
    max-width: 90%;
}

.price-filt input {
    width: 50%;
}

.filt-check-block {
    max-width: 90%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    row-gap: 1vw;
}

.session-film-filter input.button {
    background-color: #ffffff;
    border: 0;
    border-radius: 5px;
    margin-top: 1vh;
    padding: 3px;
}

.session-film-filter input.button:hover {
    border: 2px solid black;
    padding: 1px;
}

.session-film-filter input.button:active {
    border: 3px solid black;
    padding: 0;
}