body {
    background-color: black;
    font-family: 'Open Sans', sans-serif;
}
/* HEADER */
header {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}

div.header-logo {
    width: 10%;
    padding-inline: 5%;
}

img.header-logo {
    width: 100%;
}

.nav_ul {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding-inline-start: 0;
    margin-block: 0;
}

div.nav {
    width: 30%;
    padding-inline: 5%;
    padding-block: 0.5%;
    border-inline: 1px solid gray;
}

.nav-button {
    color: rgb(107, 107, 107);
    font-size: 20px; 
    border-style: none;
    background: none;
    cursor: pointer;
}

.nav-button:hover {
    color: rgb(255, 255, 255);
}

div.socialnet {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 10%;
    padding-inline: 5%;
    border-inline-end: 1px solid gray;
}

.socialnet a {
    width: 20%;
    margin-block: 0;
    margin-inline: 5%;
}

img.social {
    width: 100%;
}

div.personal {
    width: 8%;
    padding-inline: 5%; 
}

div.personal a {
    text-decoration: none;
}

a button.personal-button {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.personal-button {
    background: linear-gradient(45deg, #B50E0B, #72140A); 
    border-radius: 10% / 30%;
    color:white;
    border: none;
    cursor: pointer;
    width: 100%;
    height: 100%;
    font-size: 130%;
}

button.personal-button div {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.personal-button img {
    width: 25%;
    margin: 4%;
}

/* BLOCKS */

.block {
    display: flex;
    align-items: center;
    margin-top: 30px;
}
    
.popular {
    color: white;
    font-size: 20px;
    margin-right: 5px;
}
    
.arrimg {
    width: 25px;
}
    
.blockslayder {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    
}

.imgslayd {
    width: 400px;
    margin-top: 10px;
    border-radius: 30px;
    border: 1px solid white;
    margin-right: 10px;
}

.border-footer {
    border-bottom: 1px solid #9d9d9d;
    opacity: 50%;
    padding: 0 0 10px;
    margin-top: 70px;
  }

  .border-header {
    border-bottom: 1px solid #9d9d9d;
    opacity: 50%;
    margin-block: 25px;
    margin-bottom: 40px;
  }