body {
    background-color: black;
    font-family: 'Open Sans', sans-serif;
    overflow-x: hidden;
}
/* HEADER */
header {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding-top: 2vh;
    padding-bottom: 1vh;
    border-bottom: 1px solid gray;
    position: sticky;
    top: 0;
    background-color: black;
    z-index: 1000;
}

div.header-logo {
    width: 10%;
    padding-inline: 5%;
}

img.header-logo {
    width: 100%;
}

.nav_ul {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding-inline-start: 0;
    margin-block: 0;
}

div.nav {
    width: 30%;
    padding-inline: 5%;
    padding-block: 0.5%;
    border-inline: 1px solid gray;
}

.nav-button {
    color: rgb(107, 107, 107);
    font-size: 20px; 
    border-style: none;
    background: none;
    cursor: pointer;
}

.nav-button:hover {
    color: rgb(255, 255, 255);
}

div.socialnet {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 10%;
    padding-inline: 5%;
    border-inline-end: 1px solid gray;
}

.socialnet a {
    width: 20%;
    margin-block: 0;
    margin-inline: 5%;
}

img.social {
    width: 100%;
}

div.personal {
    width: 8%;
    padding-inline: 5%; 
}

div.personal a {
    text-decoration: none;
}

a button.personal-button {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.personal-button {
    background: linear-gradient(45deg, #B50E0B, #72140A); 
    border-radius: 10% / 30%;
    color:white;
    border: none;
    cursor: pointer;
    width: 100%;
    height: 100%;
    font-size: 130%;
}

button.personal-button div {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.personal-button img {
    width: 25%;
    margin-block: 4%;
}

/* BLOCKS */

.block {
    display: flex;
    align-items: center;
    margin-top: 30px;
}
    
.popular {
    color: white;
    font-size: 20px;
    margin-right: 5px;
    text-align: center;
}
    
.arrimg {
    width: 25px;
}
    
.blockslayder {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    justify-content: space-evenly;
}

.imgslayd {
    width: 400px;
    margin-top: 10px;
    border-radius: 30px;
    border: 1px solid white;
    margin-right: 10px;
}

.border-footer {
    border-bottom: 1px solid #9d9d9d;
    opacity: 50%;
    padding: 0 0 10px;
    margin-top: 70px;
}

.border-header {
    border-bottom: 1px solid #9d9d9d;
    opacity: 50%;
    margin-block: 25px;
    margin-bottom: 40px;
}

/* SESSIONS */

.session-page{
    display: flex;
    flex-direction: column;
}

.session-date-filter {
    margin-block: 1vh;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.session-date-filter input{
    width: 8vw;
    height: 4vh;
    background-color: #72140A;
    border: 0;
    border-radius: 5px;
    color: azure;
}

.session-date-filter input:hover{
    background: linear-gradient(45deg, #B50E0B, #72140A);
}

.session-date-filter input:active{
    border: 2px solid white;
}

.session-page-films {
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-start;
}

.session-filters {
    max-width: 20vw;
}

.sessions-elements {
    width: 80vw;
    margin-inline-end: 1vw;
    display: flex;
    flex-direction: column;
}

.sessions-elements h1, p {
    color: white;
    margin-block: 1.5vh;
}

.session-film {
    display: flex;
    flex-direction: row;
    max-height: 30vh;
    border-bottom: solid 2px rgba(137, 137, 137, 0.462);
    padding-block: 1%;
    text-decoration: none;
}

.session-film img {
    object-fit: contain;
    max-width: 20%;
}

.session-film-info {
    object-fit: contain;
    width: 80%;
}

.session-film-info a{
    text-decoration: none;
    color: white;
}

.session-film-info a button {
    width: 10vw;
    height: 4vh;
    background-color: #72140A;
    border: 0;
    border-radius: 5px;
    color: azure;
}

.session-film-info a button:hover {
    background: linear-gradient(45deg, #B50E0B, #72140A);
    cursor: pointer;
}

.session-film-info a button:active {
    border: 1px solid white;
}

/* AUTHORIZATION / REGISTRATION */

.signin-main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.signin-main span {
    color: white;
    margin-block: 2vh;
    font-size: 2.5vh;
}

.signin-main form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-block: 2vh;
}

.signin-main form input {
    height: 4vh;
    width: 16vw;
    margin-bottom: 1vh;
    border-radius: 8px;
    border: none;
    text-align: center;
}

.signin-main form input.submi {
    color: rgb(219, 219, 219);
    width: 100%;
    border-radius: 10px;
    background: linear-gradient(90deg, #a00000, #B50E0B, #a00000);
}

.signin-main form input.submi:hover {
    color: white;
    border: solid white 1px;
    border-radius: 10px;
    cursor: pointer;
    background: #B50E0B;
}

.signin-main form input.submi:active {
    border-radius: 10px;
    background: #e81613;
}

.gotoreg {
    display: flex;
    align-items: center;
    gap: 0.5vw;
}

.gotoreg button{
    height: 3.8vh;
    width: 7.6vw;
    border: none;
    border-radius: 8px;
    background: rgb(199, 199, 199);
}

.gotoreg button:hover{
    cursor: pointer;
    background: rgb(255, 255, 255);
}

.reg-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-block: 2vh;
    color: white;
}

.reg-form span {
    color: white;
    margin-block: 2vh;
    font-size: 2.5vh;
}

.reg-form input {
    height: 4vh;
    width: 16vw;
    margin-bottom: 1vh;
    border-radius: 8px;
    border: none;
    text-align: center;
}

.reg-form input.submi {
    color: rgb(219, 219, 219);
    border-radius: 10px;
    background: linear-gradient(90deg, #a00000, #B50E0B, #a00000);
}

.reg-form input.submi:hover {
    color: white;
    border: solid white 1px;
    cursor: pointer;
    background: #B50E0B;
}

.reg-form input.submi:active {
    background: #e81613;
}

/* PERSONAL */

.personal-main {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 5vh;
}

.personal-main h1 {
    color: white;
}

.personal-main input {
    height: 4vh;
    width: 16vw;
    border-radius: 8px;
    border: none;
    text-align: center;
    color: rgb(219, 219, 219);
    background: linear-gradient(90deg, #a00000, #B50E0B, #a00000);
}

.personal-main input:hover {
    border: solid white 1px;
    cursor: pointer;
    background: #B50E0B;
}

.personal-main input:active {
    background: #e81613;
}

.ticket-main{
    display: flex;
    flex-direction: column;
    color: white;
    width: 80%;
    align-items: center;
}

.ticket-main div.tickets{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    row-gap: 2vh;
    column-gap: 2vw;

}

.tickets div.ticket{
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 2px solid white;
    border-radius: 10px;
    padding-block: 2vh;
    padding-inline: 2vw;
    width: 14vw;
    height: 42vh;
    background: linear-gradient(180deg, rgb(167, 0, 0) 0%, rgb(192, 0, 0) 50%, rgb(142, 0, 0) 100%);
}

.tickets div.ticket span, h2{
    text-align: center;
}

.tickets div.ticket span{
    font-size: 140%;
    margin-bottom: 1vh;
}

.tickets div.ticket h2{
    margin: 0;
    margin-bottom: 1vh;
}

.tickets div.ticket span.adress{
    font-size: 110%;
}

.tickets div.ticket img{
    max-width: 70%;
}

.tickets span{
    font-size: 140%;
}

.tickets button{
    height: 4vh;
    width: 12vw;
    border-radius: 10px;
    border: none;
    text-align: center;
    color: rgb(219, 219, 219);
    background: linear-gradient(90deg, #a00000, #B50E0B, #a00000);
    font-size: 120%;
}

.tickets button:hover {
    border: solid white 1px;
    cursor: pointer;
    background: #B50E0B;
}

.tickets button:active {
    background: #e81613;
}
